@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
*{
  /* background-color: pink;  */
}
body {
  /* background: #f2f2f2; */
  /* background-color: pink;  */
  color: #333333;
  font-family: "Nunito";
  padding: 0px;
  margin: 0px;

}
a {
  color: #333;
  text-decoration: none;
}
.content {
  /* background-image: linear-gradient(360deg, #FFFF, #ec338c); */
  background-image: linear-gradient(to bottom right, #ec338c, #FFFF);
}
nav {
  /* margin: 10px auto 10px;  */
  padding: 0px 20px; 
  display: flex; 
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #ec338c;
  background-image: linear-gradient(to bottom right, pink, #FFFF);
  width: 100%;
  
}
.containNavbar {
  display: flex;
  justify-content: space-between;
  /* background: red;s */
  width: 80%;
  align-items: center;
  margin: 0 auto;
  padding: 0px 10px;
  
}
.navbar {
  /* background: pink; */
  margin-left: auto;
  /* width: 50%; */
  margin-right: 5%;

}
nav a {
  margin-left: 40px;
}
nav a:hover {

  padding:10px 20px;
  /* font-size: 20px; */
  border: 1px solid #FF69B4;
  border-radius: 10px;
  color: "white"
}
nav .logo {
  margin-right: auto;
  align-items: center;
  background: pink;
  justify-content: center;
  /* width: 50%; */
}
footer {
  /* display: block; */
  /* text-align: center; */
  padding: 30px 0;
  margin-top: 60px;
  color: #777;
  border-top: 1px solid #eaeaea;
  width: "100%";
  background-color: "#FFFF";
}
.not-found {
  text-align: center;
}
.not-found a{
  color: #4979ff;
  text-decoration: underline;
}